/* screen - about-1366 */

.about-1366 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 768px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.about-1366 .group-17-14dNsx {
  background-color: transparent;
  height: 411px;
  left: 0px;
  position: relative;
  top: -5px;
  width: 100%;
}

.about-1366 .bgimgpg2-8hK40v {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.about-1366 .group-14-8hK40v {
  background-color: transparent;
  bottom: calc(24.54% - 34px);
  height: 138px;
  position: absolute;
  right: calc(50.00% - 220px);
  width: 440px;
}

.about-1366 .about-dk17h0 {
  background-color: transparent;
  display: block;
  height: 59px;
  object-fit: cover;
  position: absolute;
  right: calc(49.81% - 88px);
  top: 0px;
  width: 177px;
  opacity: 0;
transform: translate(0, 25px);
}

.about-1366 .about-dk17h0.animate-enter12 {
  animation: animate-enter12-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(0, 25px);
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about-1366 .catmex-maintena-e-you-can-trust-dk17h0 {
  background-color: transparent;
  bottom: 0px;
  display: block;
  height: 56px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
  opacity: 0;
}

.about-1366 .catmex-maintena-e-you-can-trust-dk17h0.animate-enter13 {
  animation: animate-enter13-frames 0.40s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about-1366 .menu-8hK40v {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 100%;
}

.about-1366 .navbar-x9c1xo {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 3px);
  left: 1px;
  opacity: 0.42;
  position: absolute;
  top: 0px;
  width: 100%;
}

.about-1366 .line-3-x9c1xo {
  background-color: transparent;
  bottom: calc(32.38% - 1px);
  height: 3px;
  left: calc(42.58% - 45px);
  object-fit: cover;
  position: absolute;
  width: 105px;
}

.about-1366 .home-x9c1xo {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  left: calc(24.92% - 25px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 20px);
  width: 102px;
}

.about-1366 .services-x9c1xo {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: calc(39.00% - 51px);
  top: calc(50.00% - 20px);
  width: 130px;
}

.about-1366 .contact-x9c1xo {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: calc(18.74% - 24px);
  top: calc(50.00% - 20px);
  width: 128px;
}

.about-1366 .about-x9c1xo {
  background-color: transparent;
  height: 40px;
  left: calc(42.34% - 42px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 20px);
  width: 100px;
}

.about-1366 .catmexlogomain2-01-x9c1xo {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 234px;
}
