/* screen - about-mobile */

.about-mobile {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 667px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.about-mobile .bgimgpg2-db1rRt {
  background-color: transparent;
  height: 417px;
  left: -366px;
  object-fit: cover;
  position: absolute;
  top: -60px;
  width: calc(100.00% + 1545px);
}

.about-mobile .group-7-db1rRt {
  background-color: transparent;
  height: 79px;
  left: calc(45.67% - 113px);
  position: absolute;
  top: calc(18.54% - 15px);
  width: 248px;
}

.about-mobile .about-b96NR0 {
  background-color: transparent;
  display: block;
  height: 34px;
  object-fit: cover;
  position: absolute;
  right: calc(49.66% - 50px);
  top: 0px;
  width: 101px;
  opacity: 0;
}

.about-mobile .about-b96NR0.animate-enter24 {
  animation: animate-enter24-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about-mobile .catmex-maintena-e-you-can-trust-b96NR0 {
  background-color: transparent;
  bottom: 0px;
  display: block;
  height: 32px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 2px);
  opacity: 0;
transform: translate(0, 25px);
}

.about-mobile .catmex-maintena-e-you-can-trust-b96NR0.animate-enter25 {
  animation: animate-enter25-frames 0.40s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(0, 25px);
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about-mobile .menu-db1rRt {
  background-color: transparent;
  height: 48px;
  left: -5px;
  position: absolute;
  top: -3px;
  width: calc(100.00% + 5px);
}

.about-mobile .navbar-BefkPK {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 6px);
  left: 6px;
  opacity: 0.42;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 6px);
}

.about-mobile .path-10-BefkPK {
  background-color: transparent;
  bottom: 35.33%;
  height: 1px;
  left: calc(44.38% - 11px);
  object-fit: cover;
  position: absolute;
  width: 24px;
}

.about-mobile .home-BefkPK {
  background-color: transparent;
  cursor: pointer;
  height: 9px;
  left: calc(26.82% - 6px);
  object-fit: cover;
  position: absolute;
  top: calc(48.72% - 4px);
  width: 22px;
}

.about-mobile .services-BefkPK {
  background-color: transparent;
  cursor: pointer;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(36.93% - 10px);
  top: calc(48.72% - 4px);
  width: 28px;
}

.about-mobile .contact-BefkPK {
  background-color: transparent;
  cursor: pointer;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(16.76% - 5px);
  top: calc(48.72% - 4px);
  width: 28px;
}

.about-mobile .about-BefkPK {
  background-color: transparent;
  height: 10px;
  left: calc(44.51% - 11px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 5px);
  width: 25px;
}

.about-mobile .catmexlogomain2-01-BefkPK {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 86px;
}
