/* screen - contact-1366 */

.contact-1366 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 768px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.contact-1366 .group-18-itALxU {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  position: relative;
  top: -5px;
  width: 100%;
}

.contact-1366 .bgimgpg3-0fVDZZ {
  background-color: transparent;
  height: 390px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.contact-1366 .group-15-0fVDZZ {
  background-color: transparent;
  display: block;
  height: 104px;
  left: calc(48.71% - 175px);
  position: absolute;
  top: calc(29.77% - 31px);
  width: 360px;
  opacity: 0;
}

.contact-1366 .group-15-0fVDZZ.animate-enter9 {
  animation: animate-enter9-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.contact-1366 .contact-us-IE0roz {
  background-color: transparent;
  display: block;
  height: 67px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 6px);
  opacity: 0;
transform: scale(1.1);
}

.contact-1366 .contact-us-IE0roz.animate-enter7 {
  animation: animate-enter7-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
transform: scale(1.1);
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.contact-1366 .thank-you-for-choosing-catmex-IE0roz {
  background-color: transparent;
  bottom: 0px;
  display: block;
  height: 24px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 2px);
  opacity: 0;
transform: translate(0, 25px);
}

.contact-1366 .thank-you-for-choosing-catmex-IE0roz.animate-enter8 {
  animation: animate-enter8-frames 0.40s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(0, 25px);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.contact-1366 .rectangle-17-0fVDZZ {
  background-color: transparent;
  border-radius: 9px;
  bottom: -12px;
  height: 364px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 28px);
}

.contact-1366 .rectangle-14-0fVDZZ {
  background-color: transparent;
  border-radius: 20px;
  bottom: 21px;
  height: 151px;
  object-fit: cover;
  position: absolute;
  right: 163px;
  width: 531px;
}

.contact-1366 .contact-us-0fVDZZ {
  background-color: transparent;
  bottom: calc(24.38% - 9px);
  height: 37px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  width: 121px;
}

.contact-1366 .for-estimates-q-ve-us-a-message-0fVDZZ {
  background-color: transparent;
  bottom: 108px;
  height: 58px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  width: 289px;
}

.contact-1366 .rectangle-15-0fVDZZ {
  background-color: transparent;
  border-radius: 20px;
  bottom: calc(26.68% - 15px);
  height: 58px;
  object-fit: cover;
  position: absolute;
  right: 163px;
  width: 531px;
}

.contact-1366 .logo-facebook-0fVDZZ {
  background-color: transparent;
  bottom: calc(37.02% - 12px);
  height: 33px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  width: 33px;
}

.contact-1366 .logo-instagram-0fVDZZ {
  background-color: transparent;
  bottom: calc(37.06% - 11px);
  height: 30px;
  left: calc(18.35% - 6px);
  object-fit: cover;
  position: absolute;
  width: 30px;
}

.contact-1366 .logo-linkedin-0fVDZZ {
  background-color: transparent;
  bottom: calc(36.98% - 13px);
  height: 35px;
  left: calc(25.68% - 9px);
  object-fit: cover;
  position: absolute;
  width: 35px;
}

.contact-1366 .path-11-0fVDZZ {
  background-color: transparent;
  bottom: calc(36.52% - 21px);
  height: 58px;
  object-fit: cover;
  position: absolute;
  right: 163px;
  width: 531px;
}

.contact-1366 .line-1-0fVDZZ {
  background-color: transparent;
  bottom: 33px;
  height: 273px;
  left: calc(47.68% - 1px);
  object-fit: cover;
  position: absolute;
  width: 2px;
}

.contact-1366 .rectangle-18-0fVDZZ {
  background-color: transparent;
  border-radius: 16px;
  bottom: 21px;
  cursor: pointer;
  height: 48px;
  object-fit: cover;
  position: absolute;
  right: 31px;
  width: 134px;
}

.contact-1366 .submit-0fVDZZ {
  background-color: transparent;
  bottom: 34px;
  cursor: pointer;
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 67px;
  width: 62px;
}

.contact-1366 .name-0fVDZZ {
  background-color: transparent;
  border: 0;
  bottom: calc(37.31% - 11px);
  height: 30px;
  padding: 0;
  position: absolute;
  resize: none;
  right: calc(46.24% - 23px);
  width: 49px;
}

.contact-1366 .email-0fVDZZ {
  background-color: transparent;
  border: 0;
  bottom: calc(28.12% - 8px);
  height: 30px;
  padding: 0;
  position: absolute;
  resize: none;
  right: calc(46.24% - 23px);
  width: 49px;
}

.contact-1366 .message-0fVDZZ {
  background-color: transparent;
  border: 0;
  bottom: calc(18.66% - 6px);
  height: 30px;
  padding: 0;
  position: absolute;
  resize: none;
  right: calc(45.20% - 33px);
  width: 74px;
}

.contact-1366 .menu-0fVDZZ {
  background-color: transparent;
  height: 132px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 100%;
}

.contact-1366 .navbar-KOPBSi {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 3px);
  left: 1px;
  opacity: 0.42;
  position: absolute;
  top: 0px;
  width: 100%;
}

.contact-1366 .line-3-KOPBSi {
  background-color: transparent;
  bottom: calc(34.11% - 1px);
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: calc(18.70% - 24px);
  width: 128px;
}

.contact-1366 .home-KOPBSi {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  left: calc(24.92% - 25px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 20px);
  width: 102px;
}

.contact-1366 .services-KOPBSi {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: calc(39.00% - 51px);
  top: calc(50.00% - 20px);
  width: 130px;
}

.contact-1366 .contact-KOPBSi {
  background-color: transparent;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: calc(18.74% - 24px);
  top: calc(50.00% - 20px);
  width: 128px;
}

.contact-1366 .about-KOPBSi {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  left: calc(42.34% - 42px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 20px);
  width: 100px;
}

.contact-1366 .catmexlogomain2-01-KOPBSi {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 234px;
}

.contact-1366 .licensed-bonded-0fVDZZ {
  background-color: transparent;
  bottom: 22px;
  height: 30px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  width: 150px;
}

.contact-1366 .spanish-english-sign-language-0fVDZZ {
  background-color: transparent;
  bottom: 4px;
  height: 21px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  width: 182px;
}
