/* screen - home-1366 */

.home-1366 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 768px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home-1366 .group-16-7y0Khc {
  background-color: transparent;
  height: calc(100.00% + 6px);
  left: 1px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 1px);
}

.home-1366 .bgimagepg1-Ktv5z7 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.home-1366 .group-1-Ktv5z7 {
  background-color: transparent;
  height: 172px;
  left: 81px;
  position: absolute;
  top: calc(28.57% - 49px);
  width: 888px;
}

.home-1366 .a-cut-above-excellent-5K7BZm {
  background-color: transparent;
  display: block;
  height: 84px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
  opacity: 0;
transform: translate(-25px, 0);
}

.home-1366 .a-cut-above-excellent-5K7BZm.bp2-animate-enter {
  animation: bp2-animate-enter-frames 0.50s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-1366 .catmex-maintena-tanding-srevice-5K7BZm {
  background-color: transparent;
  bottom: 0px;
  display: block;
  height: 78px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  width: 741px;
  opacity: 0;
transform: translate(-25px, 0);
}

.home-1366 .catmex-maintena-tanding-srevice-5K7BZm.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 0.40s ease-in-out 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-1366 .rectangle-2-Ktv5z7 {
  background-color: transparent;
  border-radius: 54px;
  bottom: calc(43.35% - 23px);
  height: 52px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  width: 222px;
}

.home-1366 .contact-Ktv5z7 {
  background-color: transparent;
  bottom: calc(43.09% - 16px);
  cursor: pointer;
  height: 36px;
  left: 176px;
  object-fit: cover;
  position: absolute;
  width: 147px;
}

.home-1366 .menu-7y0Khc {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home-1366 .navbar-wxUgP0 {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 3px);
  left: 1px;
  opacity: 0.42;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home-1366 .line-3-wxUgP0 {
  background-color: transparent;
  bottom: calc(32.38% - 1px);
  height: 3px;
  left: calc(24.99% - 26px);
  object-fit: cover;
  position: absolute;
  width: 105px;
}

.home-1366 .home-wxUgP0 {
  background-color: transparent;
  bottom: calc(50.00% - 20px);
  height: 40px;
  left: calc(24.92% - 25px);
  object-fit: cover;
  position: absolute;
  width: 102px;
}

.home-1366 .services-wxUgP0 {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: calc(39.00% - 51px);
  top: calc(50.00% - 20px);
  width: 130px;
}

.home-1366 .contact-wxUgP0 {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: calc(18.74% - 24px);
  top: calc(50.00% - 20px);
  width: 128px;
}

.home-1366 .about-wxUgP0 {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  left: calc(42.34% - 42px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 20px);
  width: 100px;
}

.home-1366 .catmexlogomain2-01-wxUgP0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 234px;
}
/* screen - home-1920 */

.home-1920 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home-1920 .bgimagepg1-xS6Axv {
  background-color: transparent;
  height: calc(100.00% + 8px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 100%;
}

.home-1920 .group-1-xS6Axv {
  background-color: transparent;
  height: 246px;
  left: 114px;
  position: absolute;
  top: calc(28.54% - 70px);
  width: 1275px;
}

.home-1920 .a-cut-above-excellent-iOexH7 {
  background-color: transparent;
  display: block;
  height: 121px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
  opacity: 0;
transform: translate(-25px, 0);
}

.home-1920 .a-cut-above-excellent-iOexH7.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-1920 .catmex-maintena-tanding-srevice-iOexH7 {
  background-color: transparent;
  bottom: 0px;
  display: block;
  height: 114px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 164px);
  opacity: 0;
transform: translate(25px, 0);
}

.home-1920 .catmex-maintena-tanding-srevice-iOexH7.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 0.40s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(25px, 0);
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-1920 .rectangle-2-xS6Axv {
  background-color: transparent;
  border-radius: 54px;
  bottom: calc(43.14% - 32px);
  height: 74px;
  left: 195px;
  object-fit: cover;
  position: absolute;
  width: 311px;
}

.home-1920 .contact-xS6Axv {
  background-color: transparent;
  bottom: calc(42.86% - 22px);
  cursor: pointer;
  height: 51px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  width: 210px;
}

.home-1920 .menu-xS6Axv {
  background-color: transparent;
  height: 202px;
  left: -25px;
  position: absolute;
  top: -7px;
  width: calc(100.00% + 25px);
}

.home-1920 .navbar-xT0W9m {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 21px);
  left: 25px;
  opacity: 0.42;
  position: absolute;
  top: 7px;
  width: calc(100.00% - 25px);
}

.home-1920 .line-3-xT0W9m {
  background-color: transparent;
  bottom: calc(34.67% - 1px);
  height: 3px;
  left: calc(26.13% - 39px);
  object-fit: cover;
  position: absolute;
  width: 148px;
}

.home-1920 .home-xT0W9m {
  background-color: transparent;
  height: 59px;
  left: calc(26.14% - 39px);
  object-fit: cover;
  position: absolute;
  top: calc(49.65% - 29px);
  width: 151px;
}

.home-1920 .services-xT0W9m {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  object-fit: cover;
  position: absolute;
  right: calc(38.01% - 73px);
  top: calc(49.65% - 29px);
  width: 193px;
}

.home-1920 .contact-xT0W9m {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  object-fit: cover;
  position: absolute;
  right: calc(18.06% - 34px);
  top: calc(49.65% - 29px);
  width: 190px;
}

.home-1920 .about-xT0W9m {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: calc(43.37% - 65px);
  object-fit: cover;
  position: absolute;
  top: calc(49.65% - 29px);
  width: 149px;
}

.home-1920 .catmexlogomain2-01-xT0W9m {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 358px;
}
/* screen - home-mobile */

.home-mobile {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 667px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home-mobile .bgimagepg1-JkOQxj {
  background-color: transparent;
  height: calc(100.00% + 418px);
  left: -1113px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1113px);
}

.home-mobile .group-5-JkOQxj {
  background-color: transparent;
  height: 24px;
  left: 27px;
  position: absolute;
  top: calc(49.92% - 12px);
  width: 101px;
}

.home-mobile .group-19-wb5H0m {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home-mobile .rectangle-1-7T4ZYy {
  background-color: transparent;
  border-radius: 54px;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home-mobile .contact-7T4ZYy {
  background-color: transparent;
  bottom: 2px;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: calc(48.48% - 33px);
  width: 68px;
}

.home-mobile .a-cut-above-excellent-JkOQxj {
  background-color: transparent;
  display: block;
  height: 22px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: calc(32.25% - 7px);
  width: 232px;
  opacity: 0;
transform: translate(-25px, 0);
}

.home-mobile .a-cut-above-excellent-JkOQxj.bp4-animate-enter {
  animation: bp4-animate-enter-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp4-animate-enter-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-mobile .catmex-maintena-tanding-srevice-JkOQxj {
  background-color: transparent;
  display: block;
  height: 20px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: calc(36.01% - 7px);
  width: 186px;
  opacity: 0;
transform: translate(-25px, 0);
}

.home-mobile .catmex-maintena-tanding-srevice-JkOQxj.bp4-animate-enter1 {
  animation: bp4-animate-enter1-frames 0.40s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp4-animate-enter1-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-mobile .menu-JkOQxj {
  background-color: transparent;
  height: 42px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}

.home-mobile .navbar-EQrDI8 {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  opacity: 0.42;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home-mobile .line-3-EQrDI8 {
  background-color: transparent;
  bottom: 33.19%;
  height: 1px;
  left: calc(25.78% - 6px);
  object-fit: cover;
  position: absolute;
  width: 23px;
}

.home-mobile .home-EQrDI8 {
  background-color: transparent;
  height: 9px;
  left: calc(25.57% - 6px);
  object-fit: cover;
  position: absolute;
  top: calc(48.48% - 4px);
  width: 22px;
}

.home-mobile .services-EQrDI8 {
  background-color: transparent;
  cursor: pointer;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(37.57% - 11px);
  top: calc(48.48% - 4px);
  width: 28px;
}

.home-mobile .contact-EQrDI8 {
  background-color: transparent;
  cursor: pointer;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(17.05% - 5px);
  top: calc(48.48% - 4px);
  width: 28px;
}

.home-mobile .about-EQrDI8 {
  background-color: transparent;
  bottom: calc(50.00% - 5px);
  cursor: pointer;
  height: 10px;
  left: calc(43.55% - 11px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}

.home-mobile .catmexlogomain2-01-JkOQxj {
  background-color: transparent;
  height: 48px;
  left: -5px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 86px;
}
/* screen - home-tablet */

.home-tablet {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1024px;
  min-width: 768px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home-tablet .bgimagepg1-hd2STC {
  background-color: transparent;
  height: calc(100.00% + 61px);
  left: -491px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 845px);
}

.home-tablet .a-cut-above-excellent-hd2STC {
  background-color: transparent;
  display: block;
  height: 49px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: calc(17.74% - 9px);
  width: 516px;
  opacity: 0;
transform: translate(-25px, 0);
}

.home-tablet .a-cut-above-excellent-hd2STC.bp3-animate-enter {
  animation: bp3-animate-enter-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-tablet .catmex-maintena-tanding-srevice-hd2STC {
  background-color: transparent;
  display: block;
  height: 46px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: calc(23.21% - 11px);
  width: 440px;
  opacity: 0;
transform: translate(-25px, 0);
}

.home-tablet .catmex-maintena-tanding-srevice-hd2STC.bp3-animate-enter1 {
  animation: bp3-animate-enter1-frames 0.40s ease-in-out 0.40s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter1-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home-tablet .rectangle-1-hd2STC {
  background-color: transparent;
  border-radius: 54px;
  height: 44px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: calc(38.06% - 17px);
  width: 183px;
}

.home-tablet .contact-hd2STC {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: calc(38.49% - 11px);
  width: 122px;
}

.home-tablet .menu-hd2STC {
  background-color: transparent;
  height: 88px;
  left: -14px;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 14px);
}

.home-tablet .navbar-jx79t8 {
  background-color: var(--scampi);
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 7px);
  left: 14px;
  opacity: 0.42;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 14px);
}

.home-tablet .line-3-jx79t8 {
  background-color: transparent;
  bottom: 33.95%;
  height: 1px;
  left: calc(27.44% - 15px);
  object-fit: cover;
  position: absolute;
  width: 55px;
}

.home-tablet .home-jx79t8 {
  background-color: transparent;
  bottom: calc(50.00% - 11px);
  height: 22px;
  left: calc(27.41% - 15px);
  object-fit: cover;
  position: absolute;
  width: 56px;
}

.home-tablet .services-jx79t8 {
  background-color: transparent;
  bottom: calc(50.00% - 11px);
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  position: absolute;
  right: calc(35.86% - 25px);
  width: 71px;
}

.home-tablet .contact-jx79t8 {
  background-color: transparent;
  bottom: calc(50.00% - 11px);
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  position: absolute;
  right: 108px;
  width: 70px;
}

.home-tablet .about-jx79t8 {
  background-color: transparent;
  bottom: calc(49.23% - 11px);
  cursor: pointer;
  height: 23px;
  left: calc(45.30% - 26px);
  object-fit: cover;
  position: absolute;
  width: 58px;
}

.home-tablet .catmexlogomain2-01-jx79t8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 156px;
}
@media screen and (max-width: 767px) {
  .screen.home-1920 { 
    display: none;
   }
  .screen.home-1366 { 
    display: none;
   }
  .screen.home-tablet { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .screen.home-1920 { 
    display: none;
   }
  .screen.home-1366 { 
    display: none;
   }
  .screen.home-mobile { 
    display: none;
   }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .screen.home-1920 { 
    display: none;
   }
  .screen.home-tablet { 
    display: none;
   }
  .screen.home-mobile { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.home-1366 { 
    display: none;
   }
  .screen.home-tablet { 
    display: none;
   }
  .screen.home-mobile { 
    display: none;
   }
}